<div class="container">

    <!--TODO #5 create the ng-form element -->
    <ng-form name="myForm" class="my-form">
        userType: <input name="input" ng-model="userType" required>
        <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
        userType = {{userType}}<br>
        myForm.input.$valid = {{myForm.input.$valid}}<br>
        myForm.input.$error = {{myForm.input.$error}}<br>
        myForm.$valid = {{myForm.$valid}}<br>
        myForm.$error.required = {{!!myForm.$error.required}}<br>
        myForm.$pristine = {{myForm.$pristine}}<br>
        myForm.$dirty = {{myForm.$dirty}}<br>
        myForm.$invalid = {{myForm.$invalid}}<br>
        myForm.$submitted = {{myForm.$submitted}}<br>

        myForm.input.$valid = {{myForm.input.$valid}}<br>
        myForm.input.$pristine = {{myForm.input.$pristine}}<br>
        myForm.input.$dirty = {{myForm.input.$dirty}}<br>
        myForm.input.$invalid = {{myForm.input.$invalid}}<br>
        myForm.input.$submitted = {{!!myForm.input.$submitted}}<br>
    </ng-form>


    TODO#7
        <br>
        userType = {{userType}}<br>
        <p>Input properties</p>
        <!--TODO#6-->
        <p>Form Properties</p>
        <!--TODO #5 list form properties values-->


</div>